<div class="form-row">
<div class="col-12 col-md-6">
      <label>Title</label>
      <input type="text"  class="form-control" name="title" value="<%= book.title %>">
    </div><!--/col-12 col-md-6-->
    <div class="col-12 col-md-6">
      <label>Author</label>
      <select name="author" class="form-control">
      <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
      </select>
    </div> <!--.col-12 col-md-6 -->
    <div class="col-12 col-md-6">
      <label>Publish Date</label>
      <input type="date" class="form-control" name="publishDate"
            value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
    </div> <!--/.col-12 col-md-6 -->
    <div class="col-12 col-md-6">
      <label>Page Count</label>
      <input type="number" class="form-control" name="pageCount" min="1" value="<%= book.pageCount %>">
    </div> <!--/. col-12 col-md-6 -->
    <div class="col-12 col-md-6">
      <label>Cover</label>
      <input type="file" class="form-control-file" name="cover">
    </div> <!--/col-12 col-md-6-->
    <div class="col-12 col-md-6">
      <label>Description</label>
      <textarea  class="form-control" name="description"><%= book.description %></textarea>
    </div> <!--/col-12 col-md-6-->
</div> <!--/form-row-->