<h2 class="mt-2 font-bold mb-3">Search Books</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="col-12">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="title" value="<%= searchOptions.title %>">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-12 col-md-6">

            <div class="form-group">
                <label>Published After</label>
                <input class="form-control" type="date" name="publishedAfter"
                value="<%= searchOptions.publishedAfter %>">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label>Published Before</label>
            <input class="form-control" type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>


</form>
<div class="row mt-4">
    <div class="col-12">
        <hr>
    </div>
</div>


<div class="row mt-4">
    <div class="col-12">

        <ul class="block-grid-xs-1 block-grid-sm-2 block-grid-md-4">
                <% books.forEach(book => { %>
            <li class="block-grid-item">
                <a href="/books/<%= book.id %>" class="d-flex align-items-center shadow-sm book-item-card">
                    <img height="150" width="100" src="<%= book.coverImagePath %>" class="pr-3"/>
                    <%= book.title %> <span><%= book.author.name %></span></a>
            </li>
                <% }) %>
        </ul>
    </div>
</div>