
<h2 class="text-capitalize mb-4 font-bold"><%= book.title %> </h2>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="<%= book.coverImagePath %>" class="card-img" alt="<%= book.title %>">
        </div><!--.col-md-4-->
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Author: <%= book.author.name %></h5>
                <p class="card-title">Publish Date: <%= book.publishDate.toDateString() %></p>
                <p class="card-title">Page Count:  <%= book.pageCount %></p>
                <p class="card-title">Description:  <%= book.description %></p>
            </div><!--card body-->
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 mb-1">
                            <a href="/books/<%= book.id %>/edit" class="btn btn-secondary btn-sm btn-block">Edit</a>
                    </div>
                    <div class="col-12 col-md-6 mb-1">
                            <a href="/authors/<%= book.author.id %>" class="btn btn-info btn-sm btn-block">View Author</a>
                    </div>
                    <div class="col-12">
                        <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
                    </div>
                </div>
               
              
              
            </div>
            
        </div><!--col-md-8-->
    </div><!--/row-->
</div> <!--/card-->
