<h2 class="mb-4 font-bold"><%= author.name %></h2>
<div class="row">
  <div class="col-6 col-md-3">
    <a href="/authors/<%= author.id %>/edit" class="btn btn-secondary btn-block">Edit</a>
  </div>
  <div class="col-6 col-md-3">
    <%- include('../partials/deleteForm',
      { url: `/authors/${author.id}` }) %>
  </div>

  <div class="col-12">
    <% if (booksByAuthor.length > 0) { %>

      <hr class="my-4">

<h2 class="font-bold mb-2">Books By Author</h2>
<% booksByAuthor.forEach(book => { %>
<a href="/books/<%= book.id %>"><img height="150" width="100" src="<%= book.coverImagePath %>"></a>
<% }) %>
<% } %>

  </div>
</div>

